

/* ---- General ---- */

body {
    background-color: rgb(159, 189, 126);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}


/* ---- header ----- */

#header {
    
    background-color:grey;
    color: whitesmoke;
    padding: 2rem;
    padding-bottom: 4rem;
    height: 100vh;
}
h1{color: white;
   text-align: center;}
h3{color: white;
text-align: center;}

#profile-image {
    border-radius: 50%;
    width: 350px;
    height: 500px;
    display: block;
    margin: 0 auto;
    width: 40;


}


/* ---- Content ----- */

main {
    margin-top: 10rem;
}
section{background-color:lightgreen;
    border:2px solid black; 
    margin: 50px ;
    padding: 40px;}
h2{border-style: dashed;
    border-color:green;
    border-width: 10 px;
    border-radius: 50 px;}
footer{background-color:lightcyan;
    border:2px solid black;
     margin: 50px ;
     padding: 40px;}


#footer {
    margin-top: 4rem;
    background-color: rgb(23, 23, 23);
    color: whitesmoke;
    text-align: center;
    padding: 2rem;
}
/*animation for profile image*/

@keyframes profile-image {
    0% {background-color: blue;}
    100%{background-color: yellow;}

}
#AnimatedLogo-image{
    width: 50px;
    height: 50px;
    background-color: green;
    animation-name: AnimatedLogo-image;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;}

    /*code for mobile devices smaller than 600px*/
body { background-color:red; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   body { background-color: green; }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   body { background-color: blue; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   body { background-color:wheat; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body { background-color: black; }
}
